.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 56px;
  height: 56px;
  font-size: 32px;
  z-index: 10;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }

  @include media-query($on-laptop) {
    left: 18px;
    bottom: 18px;
    width: 44px;
    height: 44px;
    font-size: 26px;
  }
}

html[data-theme="light"] {
  .github-link {
    color: $text-color;
  }
}

html[data-theme="dark"] {
  .github-link {
    color: $white-color;
  }
}
