/**
 * Sidebar profile card
 */
.sidebar-profile {
  min-width: 200px;
  padding: 14px 16px;
  border: solid 1px #00000018;

  .sidebar-profile-name {
    margin: 0 0 8px;
    @include relative-font-size(1.1);
  }

  .sidebar-profile-bio {
    margin: 0;
    color: $grey-color;
    @include relative-font-size(0.9);
  }

  &.sidebar-profile--mobile {
    display: none;

    @include media-query($on-laptop) {
      display: block;
      margin-bottom: $spacing-unit * 0.5;
    }
  }
}
