/**
 * Sidebar social links
 */
.sidebar-social {
  margin-bottom: 12px;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: $text-color;
    background: mix($theme-color, #eaeaea, 20%);
    transition: background 0.2s;

    &:hover {
      background: mix($theme-color, #eaeaea, 40%);
    }
  }

  i {
    @include relative-font-size(1.1);
  }
}
