---
layout: framework
sidebar: tag-list
---

{%- if site.posts.size > 0 -%}

  {%- include functions.html func='log' level='debug' msg='Get tags value' -%}
  {%- include functions.html func='get_tags' -%}
  {% assign tags = return %}

  <div class="tag-cloud">
    <ul>
      {% for tag in tags %}
        {% assign tag_posts = site.tags[tag] %}
        <li>
          <a href="{{ '/tags/' | relative_url }}{{ tag | slugify: 'raw' }}/" class="tag-cloud-item">
            {{ tag }} <span>{{ tag_posts.size }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

{%- endif -%}
